#nav{
    background-color: #EF3611;
}

.container-fluid a {
    color: white;
}

.container-fluid a:hover {
    color: lightblue;
    display: flex;
}

#form {
    margin: 10px 0 0 10px;
}

#carouselExample {
    height: 700px;
    width: 700px;
}

.carousel-inner {
    height: 700px;
    width: 700px;
}